@font-face {
  font-family: stretchProFont;
  src: url('./assets/fonts/stretch-pro.regular.ttf');
}

@font-face {
  font-family: stretchProBasicFont;
  src: url('./assets/fonts/stretch-pro.basic.ttf');
}

body {
  margin: 0;
  font-family: 'stretchProFont', sans-serif;
}

html,
body,
#root,
#root > div {
  min-height: 100vh;
  background-color: #eef2f4;
}

html,
body,
#root,
#root > div,
input,
select,
textarea {
  font-family: 'stretchProFont', sans-serif;
}

#root .preload {
    min-height: 100vh;
}

[role='button'] {
  cursor: pointer;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
