@font-face {
  font-family: pixelFont;
  src: url('./assets/fonts/pixel-font.ttf');
}

@font-face {
  font-family: pressStartFont;
  src: url('./assets/fonts/press-start-font.ttf');
}

body {
  margin: 0;
  font-family: 'pressStartFont';
}

html,
body,
#root,
#root > div {
  min-height: 100vh;
  background-color: #eef2f4;
}

html,
body,
#root,
#root > div,
input,
select,
textarea {
  font-family: 'pressStartFont';
}

#root .preload {
    min-height: 100vh;
}

[role='button'] {
  cursor: pointer;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}