@font-face {
  font-family: SourceCodePro;
  src: url('./assets/fonts/SourceCodePro-VariableFont_wght.ttf');
}

body {
  margin: 0;
  font-family: 'SourceCodePro', monospace;
}

html,
body,
#root,
#root > div {
  min-height: 100vh;
  background-color: #eef2f4;
}

html,
body,
#root,
#root > div,
input,
select,
textarea {
  font-family: 'SourceCodePro', monospace;
  font-weight: 500;
}

span {
  font-size: 1.5rem;

  @media screen and (max-width: 1920px) {
    font-size: 1rem;
  }
}

#root .preload {
    min-height: 100vh;
}

[role='button'] {
  cursor: pointer;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
